<div class='cell'>

  <!-- Logo -->
  <h1>
    {{#link-to "index" class="logo"}}
      <b class='srt'>Wilderness Safety Quiz</b>
    {{/link-to}}
  </h1>

  <!-- Card -->
  <div class="card">
    {{outlet}}
  </div>
</div>
